body .mainContainer {
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    border-radius: 15px;
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

body .leftContainer {
    padding: 20px 10px;
}
