.container {
    background-color: #123e57;
    height: 100%;
}

.container p {
    color: #fff;
    margin: 0 0 10px 0;
}

.cityName {
    font-size: 24px;
}

.temperature {
    font-size: 30px;
}

.windIcon {
    max-width: 30px;
    width: 100%;
}

.windContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}
